<!-- add bootstrap col-xs -->
<div>
<table>
  <td *ngFor="let session of sessions;let i = index">
    <tr><span style="font-weight:bold">Session{{i+1}}</span><tr>
      <tr *ngFor="let sess of session">
        {{sess.name}} ( {{sess.assignedStudents}} )
      </tr>
    </td>
</table>
</div>
<br>
<div>
  <table>
    <tr *ngFor="let student of students">
      <th>{{student.studentName}}</th>
      <ng-container *ngFor="let activity of student.selectedActivities">
        <ng-container *ngIf="activity.session;else unassignedSession">
          <td>
            Session:{{activity.session}} - {{activity.name}}
          </td>
        </ng-container>
        <ng-template #unassignedSession>
          <td bgcolor="#FF0000">
            {{activity.name}}
          </td>
        </ng-template>
      </ng-container>
    </tr>
  </table>
</div>
