<div class="container">
    <br>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th>Manual sorting required for the following students</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stu of manualSortingLabel">
            <td>{{stu}}</td>
    
          </tr>
        </tbody>
      </table>

    <button (click)="downloadXls('s1')">Download Session 1</button>
    <button (click)="downloadXls('s2')">Download Session 2</button>
    <button (click)="downloadXls('s3')">Download Session 3</button>
    <br>
    

    <br>

  <div class="row">
    <div class="col-md-4">
      <table class="table" border="1" style=" float:left;">

        <thead>
          <tr>
            <th>Session 1</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let act of this.tt['s1'] | keyvalue">
            <td class="cell-height">
              <b>{{act['value']['name']}}</b>

              <div *ngFor="let stu1 of act['value']['students']">
                {{stu1['studentName']}}
              </div>

            </td>

          </tr>
        </tbody>


      </table>
    </div>

    <div class="col-md-4">
      <table class="table" border="1" style=" float:left;">

        <thead>
          <tr>
            <th>Session 2</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let act of this.tt['s2'] | keyvalue">
            <td class="cell-height">
              <b> {{act['value']['name']}}</b>

              <div *ngFor="let stu1 of act['value']['students']">
                {{stu1['studentName']}}
              </div>

            </td>

          </tr>
        </tbody>


      </table>
    </div>

    <div class="col-md-4">
      <table class="table" border="1" style=" float:left;">

        <thead>
          <tr>
            <th>Session 3</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let act of this.tt['s3'] | keyvalue">
            <td class="cell-height">
              <b> {{act['value']['name']}}</b>
              <div *ngFor="let stu1 of act['value']['students']">
                {{stu1['studentName']}}
              </div>

            </td>

          </tr>
        </tbody>


      </table>
    </div>

  </div>



  <br>

  

  

</div>

<!-- <table border="1">

  <tr>
    <td *ngFor="let session1 of this.tt['s1']| keyvalue">
      {{session1['value']['name']}}
  <tr *ngFor="let stu1 of session1['value']['students']">
    <td>
      {{stu1['studentName']}}
    </td>
  </tr>
  </td>
  </tr>
  <tr>
    <td *ngFor="let session2 of this.tt['s2']| keyvalue">
      {{session2['value']['name']}}
      <div *ngFor="let stu2 of session2['value']['students']">
        {{stu2['studentName'] | json}}
      </div>
    </td>
  </tr>
  <tr>
    <td *ngFor="let session3 of this.tt['s3']| keyvalue">
      {{session3['value']['name']}}
      <div *ngFor="let stu3 of session3['value']['students']">
        {{stu3['studentName'] | json}}
      </div>
    </td>
  </tr>

</table> -->

<!-- <pre>{{this.students | json}}</pre> -->