


    <form [formGroup]="addStudentForm">

      <mat-form-field>
        <input matInput formControlName="studentName" placeholder="Student Name">

        <mat-error *ngIf="true">
          Please enter a valid email address
        </mat-error>

        {{studentName}}

      </mat-form-field><br>
      <mat-form-field>
        <input type="number" matInput formControlName="studentGrade" placeholder="Student grade">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="Activty 1" formControlName="act1">
          <mat-option *ngFor="let activity of activities" [value]="activity.name">
            {{activity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Activty 2" formControlName="act2">
          <mat-option *ngFor="let activity of activities" [value]="activity.name">
            {{activity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Activty 3" formControlName="act3">
          <mat-option *ngFor="let activity of activities" [value]="activity.name">
            {{activity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <input type="file" (change)="onFileChange($event)">
      <br>
      <br>
      <mat-card-actions>
        <button mat-raised-button (click)="clearForm()">clear</button>
        <button mat-raised-button color="primary" (click)="addStudent()">Submit</button>
      </mat-card-actions>


    </form>
    {{addStudentForm.value |json}}